# environment setup

usersEndpoint="http://your-app-here.herokuapp.com/api/user-list"
slackEndpoint="https://hooks.slack.com/services/../../.."
checkEndpoint="https://your-app-here.herokuapp.com/api/check-in"
